# Environment variables
.env
*.env
backend/.env

# Node.js dependencies
node_modules/

# Build folders
dist/
build/
.next/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Miscellaneous
*.sqlite
*.db

.env.production
.env
.env.*